# TASK 1

# Q2 Write a program which will find all such numbers which are divisible by 7 but are not a multipleof 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [38]:

# SOLUTION
#a=1999
#b=3201
n=0
a=range(1999,3201)
for x in a:
    if(x%7==0 |  x%5==0):
        print(x)

2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695
2730
2765
2800
2835
2870
2905
2940
2975
3010
3045
3080
3115
3150
3185

# Q3 Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [8]:

a=input("Enter your first name : ")

b=input("Enter your last name : ")         

print("\nhere is your output of last name first")
c=b+" "+a
c

Enter your first name : usman
Enter your last name : haider

here is your output of last name first

'haider usman'

# Q4 Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: V=4/3 * Ï€ * r 3

In [49]:
diameter=12
radius=diameter/2
#a= float(input("Enter value of radius : "))
pie=float(22/7)
volume=float((4/3)*pie*radius*radius*radius)
print("Value of dimater : ",diameter)
print("Value of volume will be : ",volume)

Value of dimater :  12
Value of volume will be :  905.142857142857

# TASK 2

# Q2 Write a program which accepts a sequence of comma-separated numbers from console andgenerate a list.

In [67]:
# input comma separated elements as string 
str = str (input ("Enter comma separated integers: "))
print ("Input string: ", str)

# conver to the list
list = str.split(",")
print("list: ", list)

# convert each element as integers
li = []
for i in list:
    li.append(int(i))

# print list as integers
print ("list (li) : ", li)

Enter comma separated integers: 10,20,30,40

TypeError: 'str' object is not callable

# Q2.
Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [107]:
row = int (input("Enter number of rows you wanna display : "))
b=0
for i in range(row):
    for j in range(i):
        print("*",end=" ")
    
    print(" ")
       
for i in range(row,0,-1):
    b+=1
    for j in range(1,i+1):
        print("*", end= " ")
        
    print("\r")

Enter number of rows you wanna display : 5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Q3 Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [128]:
b= input("Enter the string : ")
x=len(b)
b[x::-1]

Enter the string : AcadGild

'dliGdacA'